In [1]:
import math 
import numpy as np 
import seaborn as sns

##### Matriz de pesos

In [2]:
# 1a capa
W1 = np.array([[-0.349872597534697,-8.79975649168255],
                [0.927193788253286,-1.23990398685571],
                [2.96409192546403,-1.36137864029959],
                [-2.48663064031285,2.20706645142644],
                [-9.70181183361562,4.98958049153228]])

In [3]:
# 2da capa
W2 = np.array([[0.965572660218516,2.72722869556131,-1.68597892267963],
                [-3.35968082436986,-3.08932356153827,-45.3948576822416],
                [-0.103493644504251,-13.3730512492888,0.107855694661392]])

In [4]:
# 3er capa
W3 = np.array([[1.09760212748422,-0.471435923086407,0.369957159212848],
                [-1.14581258202646,0.112262810273923,1.10786773080483],
                [-0.00411875658505614,1.12520187560563,-1.12609400947655],
                [-1.70848634390733,2.31955906128292,-0.904290093786678]])

#### Funciòn de activaciòn

In [19]:
def f_act(X):
    activada = np.array([1/(1+math.exp(-x)) for x in X])
    return activada

#### Carga de datos

In [6]:
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [7]:
# definir columnas a utilizar
xcols = ['sepal_length', 'sepal_width', 'sepal_length', 'petal_width'] # nombres variables que son titulos de columnas
especie = iris['species'].unique() # solo nos muestra el unique
especie

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
X = iris[xcols].copy()
X.insert(0, 'bias', 1)
X

     bias  sepal_length  sepal_width  sepal_length  petal_width
0       1           5.1          3.5           5.1          0.2
1       1           4.9          3.0           4.9          0.2
2       1           4.7          3.2           4.7          0.2
3       1           4.6          3.1           4.6          0.2
4       1           5.0          3.6           5.0          0.2
..    ...           ...          ...           ...          ...
145     1           6.7          3.0           6.7          2.3
146     1           6.3          2.5           6.3          1.9
147     1           6.5          3.0           6.5          2.0
148     1           6.2          3.4           6.2          2.3
149     1           5.9          3.0           5.9          1.8

[150 rows x 5 columns]

#### Prediccion

In [10]:
prediccion  = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especie[np.argmax(salida)])

In [21]:
iris['prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  prediccion
0           5.1          3.5           1.4          0.2  setosa      setosa
1           4.9          3.0           1.4          0.2  setosa  versicolor
2           4.7          3.2           1.3          0.2  setosa      setosa
3           4.6          3.1           1.5          0.2  setosa      setosa
4           5.0          3.6           1.4          0.2  setosa      setosa